<<<<<<< HEAD
=======
@font-face {
	font-family: 'PTSans';
	src:url('../fonts/PTSans.woff');
	src:url('../fonts/PTSans.woff2');

}
@font-face {
	font-family: 'PTSans-Bold';
	src:url('../fonts/PTSans-Bold.woff');
	src:url('../fonts/PTSans-Bold.woff2');
}

>>>>>>> parent of 2d9dc86... Базовые стили и стили шапки сайта
