@font-face {
	font-family: 'PTSans';
	src:url('../fonts/PTSans.woff');
	src:url('../fonts/PTSans.woff2');

}
@font-face {
	font-family: 'PTSans-Bold';
	src:url('../fonts/PTSans-Bold.woff');
	src:url('../fonts/PTSans-Bold.woff2');
}

* {
	margin: 0px;
	font-family: 'PTSans-Bold';
	font-size: 14px;
}

body {
	display: flex;
	background-color: #F2F2F2;
	padding: 0 40px;
	justify-content: center;
}

header {
	display: flex;
	align-items: center;
	height: 56px;
	width: 1200px;
	line-height: 26px;
}

a {
	text-decoration: none;
	color: #000;
}

#main {
	height: 2762px;
	width: 1200px;
	background-color: #FFF;
}

#nav-item-1 {
	margin: 0 134px 0 72px;
}

#nav-item-2 {
	margin-right: 418px;
}

#nav-item-3 {
	margin-right: 147px;
}
