@font-face {
	font-family: "PTSans";
	src: url("../fonts/PTSans.woff");
	src: url("../fonts/PTSans.woff2");
	font-weight: 400;
}

@font-face {
	font-family: "PTSans";
	src: url("../fonts/PTSans-Bold.woff");
	src: url("../fonts/PTSans-Bold.woff2");
	font-weight: 700;
}

:root {
	--background: #F2F2F2;
	--basic-white: #FFF;
	--basic-gray: #EEE;
	--basic-light-blue: #81B3D2;
	--basic-dark-brown: #766357;
	--basic-light-gray: #F2F2F2;
}

.page {
	display: flex;
	flex-direction: column;
	flex-basis: 1200px;
	align-items: center;
	background-color: var(--background);
	padding: 0 40px;
	font-family: "PTSans", "Arial", sans-serif;
	line-height: 21px;
	font-size: 14px;
	font-weight: 400;
}

.main {
	width: 1200px;
	background-color: var(--basic-white);
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
	text-transform: uppercase;
}

.btn span {
	text-transform: uppercase;
	font-weight: 700;
}

.btn:active span,
.btn:active h2 {
	opacity: 0.3;
}

.btn:focus {
	outline: none;
}

.hidden {
	position: absolute;
	visibility: hidden;
}

.main-head {
	display: flex;
	align-items: center;
	max-width: 1200px;
	padding: 0 73px 0 73px;
	box-sizing: border-box;
	min-height: 56px;
	background-color: var(--basic-white);
	text-transform: uppercase;
}

.navigation {
	width: 1054px;
	display: flex;
}

.navigation-item {
	flex-grow: 1;
}

.navigation-item:nth-child(3),
.navigation-item:nth-child(4) {
	text-align: right;
}

.navigation-item a {
	font-weight: 700;
	margin: 15px 0;
}

.item-right {
	text-align: right;
}

.navigation-item a:hover,
.navigation-item a:focus {
	color: var(--basic-light-blue);
	outline: none;
}

.navigation-item a:active {
	color: black;
	opacity: 0.3;
}

.logo {
	left: 50%;
	transform: translateX(-50%);
	align-self: flex-start;
	position: absolute;
	z-index: 1;
}

.main-picture {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	height: 509px;
}

.background-photo-jpg {
	position: absolute;
}

.welcome-svg {
	margin-top: 77px;
	z-index: 1;
}

.lower-svg {
	z-index: 1;
	left: 0;
	bottom: 0;
	position: absolute;
}

.info-block {
	display: flex;
}

.about-tittle {
	margin: 0 auto 25px auto;
}

.first-block {
	padding: 42px 0 54px 0;
}

.first-block p {
	text-align: center;
	margin: 0;
}

.first-block-tittle {
	text-align: center;
	line-height: 26px;
	margin: 0 0 46px 0;
}

.last-block {
	height: 150px;
	display: block;
	background-color: var(--basic-white);
}

.last-block-tittle {
	font-size: 30px;
	margin-top: 55px;
	margin-bottom: 34px;
	text-align: center;
	line-height: 1.15em;
}

.block-text {
	margin: 0;
	line-height: 21px;
	font-size: 14px;
	text-align: center;
}

.advantages {
	min-height: 256px;
	background-color: var(--basic-gray);
	width: 400px;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 46px 40px 54px 40px;
	box-sizing: border-box;
}

.advantages-tittle {
	margin: 0;
	line-height: 1em;
}

.advantages p:nth-child(3) {
	margin: 0;
}

.advantages-background-blue {
	background-color: var(--basic-light-blue);
	color: var(--basic-white);
	padding-top: 48px;
	padding-bottom: 38px;
}

.advantages-number {
	margin-top: 27px;
	margin-bottom: 25px;
}

.icon-block {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
	height: 330px;
	padding: 55px 30px 32px 30px;
	box-sizing: border-box;
}

.icon {
	margin-bottom: 24px;
}

.house-icon {
	margin-top: 5px;
}

.burger-icon {
	margin-top: 7px;
}

.main-footer {
	height: 594px;
	width: 1200px;
	background-color: white;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.main-footer-catalog {
	height: auto;
}

.panel-bottom {
	z-index: 1;
	background-color: white;
	opacity: 90%;
	width: 1200px;
	display: flex;
	height: 120px;
	align-self: flex-end;
}

.map {
	height: 594px;
	width: 1200px;
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	position: absolute;
}

.footer-block {
	opacity: 90%;
	display: flex;
	width: 500px;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.footer-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--basic-light-blue);
	width: 46px;
	height: 48px;
	margin-right: 6px;
}

.footer-icon__link {
	height: 100%;
	outline: none;
	display: flex;
}

.footer-icon__link svg {
	margin: auto;
}

.footer-icon__link:focus .footer-icon {
	background-color: #669EC0;
}

.footer-icon:hover {
	background-color: #669EC0;
}

.footer-icon:active {
	background-color: #5496BD;
}

.footer-icon:active .twitter,
.footer-icon:active .facebook,
.footer-icon:active .youtube {
	opacity: 0.3;
}

.footer-left {
	flex-direction: column;
	justify-content: flex-start;
}

.footer-phone {
	font-weight: 700;
	font-size: 21px;
	margin: 0px;
}

.footer-phone:focus {
	color: var(--basic-light-blue);
	outline: none;
};

.footer-center {
	width: 280px;
}

.footer-visit {
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	margin-top: 21px;
	margin-bottom: 11px;
}

.form-wrapper {
	margin-left: auto;
	width: 568px;
	height: 395px;
	position: absolute;
	margin-bottom: 200px;
	overflow: hidden;
}

.search-window {
	background-color: white;
	display: block;
	width: 568px;
	z-index: 2;
}

.website-by-text {
	margin-right: 8px;
	text-transform: uppercase;
}

.logo-academy__link {
	outline: none;
}

.logo-academy:hover .logo-academy__path,
.logo-academy__link:focus .logo-academy__path {
	fill: var(--basic-light-blue);
}

.logo-academy:active .logo-academy__path {
	fill: #BDBBBC
}

.search-button-block {
	display: flex;
	justify-content: center;
}

.search-button {
	height: 88px;
	width: 568px;
	border: none;
	cursor: pointer;
}

.search-button span {
	font-size: 21px;
}

.search-info {
	text-transform: uppercase;
	display: grid;
	height: 285px;
	grid-template-rows: 38px 38px 38px 83px;
	grid-template-columns: 113px 114px 118px 114px;
	grid-row-gap: 30px;
	padding: 54px;
}

.search-button span {
	font-size: 21px;
}

.search-info label {
	font-weight: 700;
}

.search-text {
	margin: auto 0 auto 0;
}

.search-text-kids {
	width: 65px;
	margin-left: auto;
}

.arrival-date {
	grid-area: 1 / 1 / 2 / 5;
}

.arrival-date-block {
	grid-area: 1 / 2 / 2 / 5;
}
.calendar-svg {
	width: 31px;
	height: 37px;
	box-sizing: border-box;
	padding: 7px 5px 7px 5px;
	position: absolute;
	margin-left: -34px;
}
.departure-date-block {
	grid-area: 2 / 2 / 3 / 5;
}

.arrival-date-input,
.departure-date-input {
	box-sizing: border-box;
	padding-left: 12px;
	padding-right: 45px;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
}

.adults-count-block {
	grid-area: 3 / 2 / 4 / 3;
	text-align: center;
}
.minus-svg {
	box-sizing: border-box;
	position: absolute;
	width: 37px;
	height: 39px;
	padding: 18px 12px;
}
.plus-svg {
	box-sizing: border-box;
	position: absolute;
	width: 37px;
	height: 39px;
	padding: 14px 13px;
	margin-left: -37px;
}
.kids-count-block {
	grid-area: 3 / 4 / 4 / 5;
}


.adults-count-input,
.kids-count-input {
	padding: 0 38px;
	height: 100%;
	max-width: 114px;
	box-sizing: border-box;
	text-align: center;
}

.form-svg {
	display: none;
}

.search-info input {
	background-color: var(--basic-light-gray);
}

.search-info input:hover {
	background-color: #EBEBEB;
}

.search-info input:focus {
	background-color: var(--basic-white);
	outline: none;
	border: 2px solid #E5E5E5;
}

.search-submit {
	color: var(--basic-white);
	margin-top: auto;
	min-height: 58px;
	background-color: var(--basic-light-blue);
	border: none;
	grid-area: 4 / 1 / 5 / 5;
	cursor: pointer;
	padding: 0;
}

.search-submit span {
	font-size: 21px;
}

.search-submit:hover,
.search-submit:focus {
	background-color: #669EC0;
}

.search-submit:active {
	background-color: #5496BD;
}

.background-gray {
	background-color: var(--basic-gray);
}

.legend-title {
	font-size: 16px;
	font-weight: 700;
	height: 21px;
	margin: 0 0 28px 0;
}

.form-housing-cost .legend-title {
	margin: 0 0 10px 0;
}

.form-structure label,
.form-housing-type label {
	color: inherit;
	margin: 0 0 25px 0;
}

.form-structure {
	display: flex;
	flex-direction: column;
}

.form-housing-type {
	display: flex;
	flex-direction: column;
	width: 136px;
	margin-right: 346px;
	margin-left: 120px;
}

.form-housing-cost {
	display: block;
	width: 317px;
	height: 158px;
}

.inputs-from-to {
	display: flex;
	height: 56px;
}

.range-filter {
	height: 35px;
}

.range-controls .scale {
	height: 2px;
	background-color: rgba(256, 256, 256, 0.3);
}

.toggle {
	margin-top: -11px;
	width: 3px;
	height: 3px;
	background-color: #ABABAB;
	border: 8px solid white;
	border-radius: 50%;
	box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
	cursor: pointer;
	transition: 100ms;
}

.toggle:hover,
.toggle:focus {
	transition: 100ms;

	-webkit-transform: scale(1.263);
	-moz-transform: scale(1.263);
	-ms-transform: scale(1.263);
	-o-transform: scale(1.263);
	transform: scale(1.263);

	outline: none;
}

.toggle-max {
	margin-top: -20px;
}

.scale .bar {
	height: 2px;
	opacity: 1;
	background-color: white;
}

.input-from,
.input-to {
	text-align: center;
	font-weight: 400;
	background: transparent;
	border: 2px solid #FFF;
	border-radius: 2px;
	height: 36px;
	width: 160px;
	color: white;
	box-sizing: border-box;
}

.input-from {
	border-right: none;
	margin-right: -1px;
}

.input-to {
	border-left: 0;
	margin-left: -1px
}

.input-stick {
	position: absolute;
	background-color: var(--basic-white);
	width: 2px;
	height: 23px;
	margin-top: 6px;
	margin-left: 160px;
}

.checkbox-item {
	display: none;
}

.checkbox-item + label {
	margin-left: 39px;
	cursor: pointer;
}

.checkbox-item + label:before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	background: url(../img/checkbox-off.svg);
	margin-left: -40px;
}

.checkbox-item:checked + label:before {
	content: "";
	position: absolute;
	background: url(../img/checkbox-on.svg);
	height: 23px;
	width: 27px;
	margin-left: -40px;
	background-repeat: no-repeat;
}

.checkbox-item[disabled] + label:before {
	background: url(../img/checkbox-off.png);
	background-repeat: no-repeat;
}

.checkbox-item[disabled]:checked + label:before {
	background: url(../img/checkbox-on.png);
	background-repeat: no-repeat;
}

.btn[disabled],
.btn[disabled]:hover {
	cursor: default;
	pointer-events: none;
}

.right-fieldset-submit {
	color: var(--basic-white);
	background: transparent;
	border: 2px solid #FFF;
	border-radius: 2px;
	width: 137px;
	height: 36px;
	grid-column: 1 / 3;
	display: block;
	margin: auto;
}

.right-fieldset-submit:hover,
.right-fieldset-submit:focus {
	background-color: #FFF;
	color: #000;
	outline: none;
}

.diffuse-background {
	position: absolute;
}

.form-catalog {
	padding: 23px 73px;
	height: 217px;
	color: var(--basic-white);
	box-sizing: border-box;
}

.sort {
	display: flex;
	padding-left: 73px;
	padding-right: 73px;
	height: 86px;
	width: 1054px;
	align-items: center;
}

.sort p {
	font-size: 12px;
	line-height: 18px;
}

.sort p:nth-child(2) {
	margin-left: 46px;
	margin-right: 40px;
}

.sort-price {
	color: var(--basic-light-blue);
}

.sort a {
	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed var(--basic-light-blue);
}

.sort a:hover,
.sort a:focus {
	color: var(--basic-light-blue);
	border-bottom: 1px dashed var(--basic-light-blue);
	outline: none;
}

.sort .sort-link-active {
	color: var(--basic-light-blue);
	border: none;
}

.sort a:active {
	color: black;
	border: none;
}

.sort-pointer-active path {
	fill: #81B3D2;
}

.sort-type {
	margin-left: 32px;
	margin-right: 32px;
}

.sort-pointer {
	cursor: pointer;
}

.sort-pointer:focus path {
	fill: #000;
}

.sort-pointer-up {
	margin-left: auto;
}

.sort-pointer-down {
	margin-left: 12px;
}

.sort-pointer:hover path,
.sort-pointer:focus path {
	fill: black;
	outline: none;
}

.line {
	background-color: #E5E5E5;
	height: 1px;
	border: none;
	margin: 0;
}

.block-hotel {
	display: flex;
	padding-left: 73px;
	padding-right: 73px;
	height: 150px;
	width: 1054px;
	align-items: center;
}

.block-hotel-image {
	margin-right: 29px;
}

.block-rating {
	margin-left: auto;
	height: 90px;
	width: 110px;
	display: flex;
	flex-direction: column;
}

.block-stars {
	display: flex;
	list-style: none;
	align-self: flex-end;
	margin: 0;
}

.block-stars li {
	margin-left: 5px;
	width: 18px;
	height: 17px;
	background: url(../img/Shape-star.svg);
	background-repeat: no-repeat;
}

.rating-text {
	color: #666;
	margin-top: 46px;
	padding: 3px 12px 3px 15px;
}

.block-name-price {
	display: grid;
	height: 90px;
	grid-template-rows: 26px 29.5px 27px;
	grid-row-gap: 7px;
	grid-template-columns: 110px 142px;
	grid-column-gap: 6px;
	margin-top: -11.5px;
}

.block-name-price p {
	margin: 0;
}

.block-hotel-name {
	grid-area: 1 / 1 / 2 / 3;
	margin: 0;
}

.block-hotel-name:hover,
.block-hotel-name:focus {
	color: var(--basic-light-blue);
}

.block-hotel-name:active {
	color: black;
	opacity: 0.3;
}

.info-button,
.brown-button {
	color: var(--basic-white);
	border: none;
}

.info-button {
	background-color: var(--basic-light-blue);
}

.brown-button {
	background-color: var(--basic-dark-brown);
}

.info-button:hover,
.info-button:focus {
	background-color: #669EC0;
}

.brown-button:hover,
.brown-button:focus {
	background-color: #604E43;
}

.info-button:active {
	background-color: #5496BD;
}

.brown-button:active {
	background-color: #503E33;
}

.form-catalog-section {
	height: 217px;
}

.item-active {
	font-weight: 700;
	color: var(--basic-dark-brown);
}

.input-from, .input-to {
	outline: none;
}

.form-up {
	transition: 1s all;
	opacity: 0;
	transform: translate(0, -100%);
	visibility: hidden;
	z-index: 2;
}

.form-down {
	height: 395px;
	transition: 1s all;
	opacity: 1;
	z-index: 2;
}
