@font-face {
	font-family: "PTSans";
	src: url("../fonts/PTSans.woff");
	src: url("../fonts/PTSans.woff2");
	font-weight: 400;
}

@font-face {
	font-family: "PTSans";
	src: url("../fonts/PTSans-Bold.woff");
	src: url("../fonts/PTSans-Bold.woff2");
	font-weight: 700;
}

:root {
	--background: #F2F2F2;
	--basic-white: #FFF;
	--basic-gray: #EEE;
	--basic-light-blue: #81B3D2;
	--basic-dark-brown: #766357;
	--basic-light-gray: #F2F2F2;
}

body {
	display: flex;
	flex-basis: 1200px;
	justify-content: center;
	background-color: var(--background);
	padding: 0 40px;
	font-family: "PTSans", "Arial", sans-serif;
	line-height: 21px;
	font-size: 14px;
	font-weight: 400;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 1200px;
	background-color: var(--basic-white);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
}

.btn span {
	text-transform: uppercase;
	font-weight: 700;
}

.btn:active span,
.btn:active h2 {
	opacity: 0.3;
}

.btn:focus {
	outline: none;
}

.hidden {
	display: none;
}

.main-head {
	display: flex;
	align-items: center;
	height: 56px;
	width: 1200px;
	line-height: 26px;
	padding-left: 73px;
	padding-right: 73px;
}

.navigation {
	width: 1054px;
	display: flex;
}

.navigation-item a {
	font-weight: 700;
}

.navigation-item a:hover {
	color: var(--basic-light-blue);
}

.navigation-item a:active {
	color: black;
	opacity: 0.3;
}

.navigation-info {
	margin-right: 134px;
}

.navigation-map {
	margin-left: auto;
	margin-right: 147px;
}

.logo {
	align-self: flex-start;
	margin-left: 458px;
	position: absolute;
	z-index: 999;
}

.main-picture {
	display: flex;
	justify-content: center;
	width: 1200px;
	height: 509px;
}

.main-picture img {
	position: absolute;
}

.margin-welcome-svg {
	margin: 77.35px auto 386.9px auto;
}

.margin-lower-svg {
	margin-top: 452px;
}

.main-block {
	display: flex;
}

.about-tittle {
	margin-bottom: 25px;
}

.first-block {
	height: 216px;
	flex-direction: column;
	align-items: center;
}

.first-block-tittle {
	margin-top: 42px;
	width: 470px;
	height: 80px;
	margin-bottom: 17px;
	text-align: center;
	line-height: 26px;
}

.first-block div,
.last-block div {
	display: flex;
	flex-basis: 1200px;
	text-align: center;
}

.last-block {
	height: 291px;
	flex-direction: column;
	align-items: center;
}

.last-block-tittle {
	font-size: 30px;
	margin-top: 58px;
	margin-bottom: 32px;
}

.block-text {
	line-height: 24px;
	font-size: 14px;
	text-align: center;
}

.advantages {
	height: 256px;
	background-color: var(--basic-gray);
	width: 400px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.advantages p:nth-child(3) {
	margin: 0;
}

.advantages-background-blue {
	background-color: var(--basic-light-blue);
	color: var(--basic-white);
}

.advantages-number {
	margin-top: 25px;
	margin-bottom: 23px;
}

.advantages-tittle {
	margin: 47px 0 0 0;
}

.icon-block {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
	height: 330px;
}

.icon {
	margin: 60px 0 30.92px 0;
}

.main-footer {
	height: 595px;
	width: 1200px;
	background-color: white;
	display: flex;
	z-index: 100;
}

.main-footer-catalog {
	height: auto;
}

.panel-bottom {
	z-index: 900;
	background-color: white;
	opacity: 90%;
	width: 1200px;
	display: flex;
	height: 120px;
	align-self: flex-end;
}

.map {
	height: 594px;
	width: 1200px;
	position: absolute;
}

.footer-block {
	opacity: 90%;
	display: flex;
	width: 500px;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.footer-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--basic-light-blue);
	width: 46px;
	height: 48px;
	margin: 0 3px 0 3px;
}

.footer-icon:hover {
	background-color: #669EC0;
}

.footer-icon:active {
	background-color: #5496BD;
}

.footer-icon:active .twitter,
.footer-icon:active .facebook,
.footer-icon:active .youtube {
	opacity: 0.3;
}

.footer-left {
	flex-direction: column;
	justify-content: flex-start;
}

.footer-visit {
	margin: 23px 0 9px 0;
}

.footer-phone {
	margin: 0px;
}

.footer-center {
	width: 200px;
}

.footer-visit {
	margin-top: 23px;
	margin-bottom: 9px;
}

.search-window {
	background-color: white;
	position: absolute;
	display: block;
	width: 568px;
	height: 481px;
	align-self: center;
	margin-bottom: 200px;
	z-index: 950;
}

.website-by-text {
	margin-right: 8px;
}

.logo-academy:hover path {
	fill: var(--basic-light-blue);
}

.logo-academy:active path {
	fill: #BDBBBC
}

.search-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--basic-dark-brown);
	height: 86px;
}

.search-button {
	height: 86px;
	width: 568px;
	border: none;
}

.search-button span {
	font-size: 21px;
}

.search-info {
	display: grid;
	height: 285px;
	grid-template-rows: 38px 38px 38px 83px;
	grid-template-columns: 112px 114px 118px 118px;
	grid-row-gap: 30px;
	padding: 55px;
}

.search-info label {
	font-weight: 700;
}

.search-text-kids {
	width: 65px;
	margin-left: 53px;
}

.search-text {
	display: flex;
	align-items: center;
}

.arrival-date {
	grid-area: 1 / 1 / 2 / 2;
}

.arrival-date-input {
	padding-right: 45px;
	grid-area: 1 / 2 / 2 / 5;
	text-transform: uppercase;
}

.departure-date {
	grid-area: 2 / 1 / 3 / 2;
}

.departure-date-input {
	padding-right: 45px;
	grid-area: 2 / 2 / 3 / 5;
	text-transform: uppercase;
}

.calendar-arrival {
	position: absolute;
	margin-left: 428px;
	margin-top: 7px;
}

.calendar-departure {
	position: absolute;
	margin-left: 428px;
	margin-top: 75px;
}

.search-svg:hover path,
.search-svg:hover rect {
	fill: black;
}
.search-svg:active path, 
.search-svg:active rect {
	fill: var(--basic-light-blue);
}

.plus-adults {
	border: 13px solid transparent;
	position: absolute;
	margin-left: 190px;
	margin-top: 136px;
}

.minus-adults {
	border: 13px solid transparent;
	position: absolute;
	margin-left: 112px;
	margin-top: 140px;
}

.minus-kids {
	border: 13px solid transparent;
	position: absolute;
	margin-left: 345px;
	margin-top: 140px;
}

.plus-kids {
	border: 13px solid transparent;
	position: absolute;
	margin-left: 422px;
	margin-top: 136px;
}

.adults-count,
.kids-count {
	width: 34px;
	text-align: center;
	padding: 0 40px;
}

.search-info input {
	background-color: var(--basic-light-gray);
}

.search-info input:hover {
	background-color: #EBEBEB;
}

.search-info input:focus {
	background-color: var(--basic-white);
	outline: none;
	border: 2px solid #E5E5E5;
}

.arrival-date-input,
.departure-date-input {
	padding-left: 12px;
}

.search-submit {
	color: var(--basic-white);
	margin-top: 25px;
	background-color: var(--basic-light-blue);
	border: none;
	grid-area: 4 / 1 / 5 / 5;
}

.search-submit:hover,
.search-submit:focus {
	background-color: #669EC0;
}

.search-submit:active {
	background-color: #5496BD;
}

.background-gray {
	background-color: var(--basic-gray);
}

.legend-text {
	font-size: 16px;
	font-weight: 700;
	height: 21px;
	margin: 0;
}

.legend-text ~ input {
	color: var(--basic-white);
}

.form-structure label:nth-child(5),
.form-housing-type label:nth-child(5) {
	margin-top: 25px;
	margin-bottom: 25px;
	height: 21px;
}

.form-structure label:nth-child(3),
.form-housing-type label:nth-child(3) {
	margin-top: 24px;
}

.form-structure {
	display: flex;
	flex-direction: column;
	margin-top: 26.5px;
	margin-bottom: 32px;
}

.form-housing-type {
	display: flex;
	flex-direction: column;
	width: 136px;
	margin: 26.5px 347px 32px 119px;
}

.form-housing-cost {
	display: grid;
	margin-top: 26.5px;
	margin-bottom: 32px;
	width: 317px;
	height: 158px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 31.5px 56px 35px 36px;
}

.form-housing-cost h2 {
	grid-column: 1 / 3;
}

.range-filter {
	grid-column: 1 / 3;
}

.range-controls .scale {
	height: 2px;
	background-color: rgba(256, 256, 256, 0.3);
}

.toggle {
	margin-top: -11px;
	width: 3px;
	height: 3px;
	background-color: #ABABAB;
	border: 8px solid white;
	border-radius: 50%;
	box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
	cursor: pointer;
	transition: 100ms;
}

.toggle:hover,
.toggle:focus {
	transition: 100ms;

	-webkit-transform: scale(1.263);
	-moz-transform: scale(1.263);
	-ms-transform: scale(1.263);
	-o-transform: scale(1.263);
	transform: scale(1.263);

	outline: none;
}

.toggle-max {
	margin-top: -20px;
}

.scale .bar {
	height: 2px;
	opacity: 1;
	background-color: white;
}

.input-from,
.input-to {
	text-align: center;
	font-weight: 400;
	background: transparent;
	border: 2px solid #FFF;
	border-radius: 2px;
	height: 30px;
	width: 160px;
}

.input-from {
	border-right: none;
	margin-right: -1px;
}

.input-to {
	border-left: 0;
	margin-left: -1px
}

.input-stick {
	position: absolute;
	background-color: var(--basic-white);
	width: 2px;
	height: 22px;
	margin-top: 38px;
	margin-left: 160px;
}

.checkbox-item {
	display: none;
}

.checkbox-item + label {
	margin-left: 39px;
	cursor: pointer;
}

.checkbox-item + label:before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	background: url(../img/checkbox-off.svg);
	margin-left: -39px;
}

.checkbox-item:checked + label:before {
	content: "";
	position: absolute;
	background: url(../img/checkbox-on.svg);
	height: 23px;
	width: 27px;
	margin-left: -39px;
	background-repeat: no-repeat;
}

.right-fieldset-submit {
	color: var(--basic-white);
	background: transparent;
	border: 2px solid #FFF;
	border-radius: 2px;
	width: 137px;
	height: 36px;
	grid-column: 1 / 3;
	justify-self: center;
}

.right-fieldset-submit:hover,
.right-fieldset-submit:focus {
	background-color: #FFF;
	color: #000;
	outline: none;
}

.diffuse-background {
	position: absolute;
}

.form-catalog {
	padding-right: 73px;
	padding-left: 73px;
	height: 217px;
	color: var(--basic-white);
}

.sort {
	display: flex;
	padding-left: 73px;
	padding-right: 73px;
	height: 86px;
	width: 1054px;
	align-items: center;
}

.sort a:nth-child(3) {
	color: var(--basic-light-blue);
}

.sort a:nth-child(4),
.sort a:nth-child(5) {
	color: rgb(0, 0, 0, 0.3);
	border-bottom: 1px dashed var(--basic-light-blue);
}

.line {
	background-color: #E5E5E5;
	height: 1px;
	border: none;
}

.block-hotel {
	display: flex;
	padding-left: 73px;
	padding-right: 73px;
	height: 150px;
	width: 1054px;
	align-items: center;
}

.block-hotel-image {
	margin-right: 29px;
}

.block-rating {
	margin-left: auto;
	height: 90px;
	width: 110px;
	display: flex;
	flex-direction: column;
}

.block-stars {
	display: flex;
	list-style: none;
	align-self: flex-end;
	margin: 0;
}

.block-stars li {
	margin-left: 5px;
	width: 18px;
	height: 17px;
	background: url(../img/Shape-star.svg);
	background-repeat: no-repeat;
}

.rating-text {
	color: #666;
	margin-top: 40px;
	padding: 3px 12px 3px 15px;
}

.sort p:nth-child(2) {
	margin-left: 46px;
	margin-right: 40px;
}

.sort a:nth-child(4) {
	margin-left: 32px;
	margin-right: 32px;
}

.sort-pointer-up {
	margin-left: auto;
}

.sort-pointer-down {
	margin-left: 12px;
}

.block-name-price {
	display: grid;
	height: 90px;
	grid-template-rows: 26px 29.5px 27px;
	grid-row-gap: 7px;
	grid-template-columns: 110px 142px;
	grid-column-gap: 6px;
	margin-top: -11.5px;
}

.block-name-price p,
.block-hotel-name h2 {
	margin: 0;
}

.block-hotel-name {
	grid-area: 1 / 1 / 2 / 3;
}

.block-hotel-name:hover {
	color: var(--basic-light-blue);
}

.block-hotel-name:active {
	color: black;
	opacity: 0.3;
}

.info-button,
.brown-button {
	color: var(--basic-white);
	border: none;
}

.info-button {
	background-color: var(--basic-light-blue);
}

.brown-button {
	background-color: var(--basic-dark-brown);
}

.info-button:hover,
.info-button:focus {
	background-color: #669EC0;
}

.brown-button:hover,
.brown-button:focus {
	background-color: #604E43;
}

.info-button:active {
	background-color: #5496BD;
}

.brown-button:active {
	background-color: #503E33;
}

.form-catalog-section {
	height: 217px;
}

.item-active {
	color: var(--basic-dark-brown);
}

.input-from, .input-to {
	outline: none;
}